#root{
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  min-height: calc(100vh - 75px);
  position: relative;
}
div.center{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  h1{
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: 800;
    margin-bottom: 15px;
  }
}
div.input-group{
  position: relative;
  text-align: left;
  display: block;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 4px 5px -2px rgba(0,0,0,0.4);      
  input[type=text]{
    width: 80%;
    position: relative;
    border: 0;
    padding: 5px 30px 5px 10px;
    font-size: 3rem;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.3);    
  }
  button{
    position: absolute;
    right: 0;
    top: 0;
    font-style: italic;
    height: 100%;
    width: 20%;
    border: 1px solid rgba(0,0,0,0.3);
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
    color: $green;
    background: transparent;
    transition: color 0.4s, background-color 0.4s;
    &:hover{
      color: $white;
      background: $green;
    }
  }
}
div.input-group > *{
  &:focus{
    outline: none;
  }
}
p.error{
  font-size: 2rem;
  font-family: sans-serif;
  color: $red;
  margin: 5px 0;
  display: none;
}

#game_info{
  display: block;
  text-align: center;
  font-size: 2rem;
  box-sizing: border-box;
  padding: 15px;
  height: 75px;
  font-family: sans-serif;
}
.startover{
  font-weight: 800;
  color: $blue;
}